{% extends "layout.html" %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-top-6">
      LEGAL REP Apply for WoC Prototype
    </h1>




    <div class="moj-timeline">

      <!----------- LITIGANT IN PERSON JOURNEY SPRINT 2  - 17 AUG to 31 AUG ------------->
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">(LATEST) Legal Rep V1 </h2>

          <p class="moj-timeline__byline">Sprint 3</p>

        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">31st August - 7th September 2022</time>
        </p>

        <div class="moj-timeline__description">
          <p class="govuk-body govuk-!-font-weight-bold">Main changes during this sprint</p>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              First Pass - Initial version
            </li>
            
          </ul>
          <a class="govuk-button govuk-button--primary" href="v1-1/solicitor-name">Start Prototype</a>
        </div>

      </div>

      
      </div>


    </div>


  </div>
</div>

{% endblock %}